.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#radiation .ui-icon { background:  url(../icons/196-radiation.png) 50% 50% no-repeat; background-size: 24px 22px; }
#config .ui-icon { background:  url(../icons/71-compass.png) 50% 50% no-repeat; background-size: 24px 22px; }
#feed .ui-icon { background:  url(../icons/41-feed.png) 50% 50% no-repeat; background-size: 24px 22px; }
#create .ui-icon { background:  url(../icons/216-compose.png) 50% 50% no-repeat; background-size: 24px 22px; }

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../icons/258-checkmark.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../icons/298-circlex.png');
}
